#about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

    >div {
        width: 40%;
        margin-bottom: 5vh;
    }

    >#skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 1vh;
            background: var(--currentBackgroundOverlay);
            border-top: var(--defaultBorder);
            border-bottom: var(--defaultBorder);
            border-radius: var(--defaultBorderRadius);
            transition: var(--themeTransition);

            >h5 {
                font-size: 3vh;
                margin: 0;
                padding: 0;
                margin-top: 1vh;
                margin-bottom: 1vh;
                text-shadow: var(--currentFontShadow) 0 0 2vh;
                font-weight: bold;
                transition: var(--themeTransition);
            }

            >div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;

                .skillCard {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 10vh;
                    padding: 0.5vh;
                    margin: 0.5vh;
                    transition: var(--themeTransition);

                    >img {
                        width: 5vh;
                        height: 5vh;
                        transition: var(--themeTransition);

                        >svg {
                            color: var(--currentPrimaryFontColor);
                            transition: var(--themeTransition);
                        }
                    }

                    >p {
                        font-size: 2vh;
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                        margin-top: 1vh;
                        text-align: center;
                        text-wrap: wrap;
                        color: var(--currentSecondaryFontColor);
                        transition: var(--themeTransition);
                    }

                }

            }
        }

    }

    >#aboutText {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-wrap: wrap;
        max-height: 80%;
        overflow: scroll;
        padding: 10px;
        background: var(--currentBackgroundOverlay);
        border-left: var(--defaultBorder);
        border-right: var(--defaultBorder);
        border-radius: var(--defaultBorderRadius);
        transition: var(--themeTransition);

        >p {
            margin: 0;
            padding: 0;
            margin-left: 1.5vh;
            margin-right: 1.5vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
            font-size: 3vh;
            text-align: start;
            text-wrap: wrap;
            color: var(--currentSecondaryFontColor);
            transition: var(--themeTransition);
        }
    }
}


@media screen and (max-width: 600px) {

    #about {
        flex-direction: column;
        justify-content: center;
        height: 100% !important;
        padding-top: 10%;
        padding-bottom: 2%;
        box-sizing: border-box;

        >div {
            width: 95%;

        }
    }

    #skills {
        margin-bottom: 1vh !important;

        >div>h5 {
            font-size: 3.5vw !important;
        }
    }

    .skillCard {
        width: 10vw !important;

        >img {
            width: 5vw !important;
            height: 5vw !important;
        }

        >svg {
            width: 5vw !important;
            height: 5vw !important;
        }

        >p {
            font-size: 2vw !important;
        }
    }

    #aboutText {
        max-height: 100% !important;
        margin: 1vh;
        box-sizing: border-box;

        >p {
            margin-left: 1.5vw !important;
            margin-right: 1.5vw !important;
            padding-top: 1.5vw !important;
            padding-bottom: 1.5vw !important;
            font-size: 3vw !important;
        }
    }
}