:root {
    /* light theme constants */

    --lightDefaultBackground: rgb(255, 255, 255);
    --lightPrimaryFontColor: black;
    --lightSecondaryFontColor: rgb(36, 36, 36);
    --lightFontShadow: rgba(255, 255, 255, 1);
    --lightBorderColor: rgb(58, 58, 58);
    --lightNavBackground: rgb(200, 200, 200);
    --lightNavHighlight: royalblue;
    --lightBackgroundOverlay: rgba(255, 255, 255, 0.5);

    /* dark theme constants */

    --darkDefaultBackground: rgb(0, 0, 0);
    --darkPrimaryFontColor: white;
    --darkSecondaryFontColor: whitesmoke;
    --darkFontShadow: rgba(0, 0, 0, 1);
    --darkBorderColor: silver;
    --darkNavBackground: rgb(55, 55, 55);
    --darkNavHighlight: dodgerblue;
    --darkBackgroundOverlay: rgba(0, 0, 0, 0.8);

    /* current theme variables */

    --currentDefaultBackground: var(--lightDefaultBackground);
    --currentPrimaryFontColor: var(--lightPrimaryFontColor);
    --currentSecondaryFontColor: var(--lightSecondaryFontColor);
    --currentFontShadow: var(--lightFontShadow);
    --currentBorderColor: var(--lightBorderColor);
    --currentNavBackground: var(--lightNavBackground);
    --currentNavHighlight: var(--lightNavHighlight);
    --currentBackgroundOverlay: var(--lightBackgroundOverlay);

    /* root constants */

    --themeTransition: all 0.3s ease-in-out;
    --defaultBorder: 1px solid var(--currentBorderColor);
    --defaultBorderRadius: 10px;
    --mediaMaxWidth: 600px;

    font-family: monospace;
    background: var(--currentDefaultBackground);
}

html,
body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: var(--currentPrimaryFontColor);
    scroll-behavior: smooth;
    /*scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;*/
    transition: var(--themeTransition);

    >div {
        position: relative;
        height: 100%;
        width: 100%;
        scroll-snap-align: start;
    }
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    margin: 5px;
    border-radius: 50%;
    max-width: 18px;
    min-width: 18px;
    max-height: 18px;
    min-height: 18px;
    background-color: var(--currentDefaultBackground);
    border: 1px var(--currentPrimaryFontColor) solid;
    cursor: pointer;

    &::before {
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: var(--currentNavHighlight);
    }

    &:checked::before {
        transform: scale(1);
    }

    &:hover {
        border-color: var(--currentNavHighlight);
    }
}