
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5vh;
        font-weight: bold;
        margin-top: 10vh;
        margin-bottom: 5vh;

        >h1 {
            font-size: 7vh;
            margin: 0;
            padding: 0;
            text-shadow: var(--currentFontShadow) 0 0 2vh;
            font-weight: bold;
            transition: var(--themeTransition);
        }

        >span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 10vh;
        }
    }

    #contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        >a {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            color: var(--currentPrimaryFontColor);
            font-size: 5vh;
            font-weight: normal;
            padding: 5px;
            margin: 5px;
            cursor: pointer;

            &:hover {
                color:var(--currentNavHighlight);
            }
        }
    }

}


@media screen and (max-width: 600px) {


    #contact>div>h1 {
        font-size: 8vw;
    }

    #contacts>a {
        font-size: 8vw;
    }
}