#maximizedCarousel {
    position: fixed ! important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.95);
    z-index: 3;
    transition: var(--themeTransition);

    >#closeMaximizedCarousel {
        position: fixed;
        top: 0;
        right: 0;
        width: 10vh;
        height: 10vh;
        font-size: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        z-index: 3;

        &:hover {
            color: var(--currentNavHighlight);
        }
    }

    >#MaxProjectSlides {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 2%;
        width: 96%;
        height: 100%;
        overflow: hidden;

        >#MaxSlideContainer {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            transition: var(--themeTransition);
            overflow: scroll;
            scroll-behavior: smooth;
            -ms-overflow-style: none;
            scroll-snap-type: both mandatory;
            overscroll-behavior-x: contain;
            /* Internet Explorer 10+ */
            scrollbar-width: none;
            /* Firefox, Safari 18.2+, Chromium 121+ */

            >* {
                flex-shrink: 0;
                scroll-snap-align: center;
            }

            >img {
                width: 100%;
                height: 100%;
                border: none;
                border-color: transparent;
                object-fit: contain;
            }
        }
    }

    #MaxSlideNav {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        >div {
            display: flex;
            flex-wrap: wrap;
            padding-left: 5%;
            padding-right: 5%;
        }

        >button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            font-size: 30px;
            border: none;
            cursor: pointer;
            color: white;
            transition: 0.1s;

            &:active {
                transform: scale(0.9);
            }

            &:hover {
                color: var(--currentNavHighlight);
            }

            &:disabled {
                color: gray;
                cursor: not-allowed;
            }
        }
    }

}