:root {
    /* light theme constants */

    --lightDefaultBackground: rgb(255, 255, 255);
    --lightPrimaryFontColor: black;
    --lightSecondaryFontColor: rgb(36, 36, 36);
    --lightFontShadow: rgba(255, 255, 255, 1);
    --lightBorderColor: rgb(58, 58, 58);
    --lightNavBackground: rgb(200, 200, 200);
    --lightNavHighlight: royalblue;
    --lightBackgroundOverlay: rgba(255, 255, 255, 0.5);

    /* dark theme constants */

    --darkDefaultBackground: rgb(0, 0, 0);
    --darkPrimaryFontColor: white;
    --darkSecondaryFontColor: whitesmoke;
    --darkFontShadow: rgba(0, 0, 0, 1);
    --darkBorderColor: silver;
    --darkNavBackground: rgb(55, 55, 55);
    --darkNavHighlight: dodgerblue;
    --darkBackgroundOverlay: rgba(0, 0, 0, 0.8);

    /* current theme variables */

    --currentDefaultBackground: var(--lightDefaultBackground);
    --currentPrimaryFontColor: var(--lightPrimaryFontColor);
    --currentSecondaryFontColor: var(--lightSecondaryFontColor);
    --currentFontShadow: var(--lightFontShadow);
    --currentBorderColor: var(--lightBorderColor);
    --currentNavBackground: var(--lightNavBackground);
    --currentNavHighlight: var(--lightNavHighlight);
    --currentBackgroundOverlay: var(--lightBackgroundOverlay);

    /* root constants */

    --themeTransition: all 0.3s ease-in-out;
    --defaultBorder: 1px solid var(--currentBorderColor);
    --defaultBorderRadius: 10px;

    font-family: monospace;
    background: var(--currentDefaultBackground);
}

html,
body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: var(--currentPrimaryFontColor);
    scroll-behavior: smooth;
    /*scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;*/
    transition: var(--themeTransition);
}

#app>div {
    position: relative;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background: var(--currentBackgroundOverlay);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    transition: var(--themeTransition);
}

nav>div {
    font-size: 3vh;
    cursor: pointer;
    transition: var(--themeTransition);
}

nav>div:hover {
    text-decoration: underline;
}

.scrollButton {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) scaleX(1.5) scaleY(1);
    width: 4.5vh;
    height: 4.5vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--currentPrimaryFontColor);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.scrollButton:hover {
    transform: translateX(-50%) scaleX(2.25) scaleY(1.5);
}

.scrollButton:active {
    transform: translateX(-50%) scaleX(1.5) scaleY(1);
}

#scrollUp {
    top: 5.2vh;
}

#scrollDown {
    top: 95vh;
}


#intro {
    text-align: center;
}

#intro>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5vh;
}

#intro>div>h1 {
    font-size: 10vh;
    margin: 0;
    padding: 0;
    text-shadow: var(--currentFontShadow) 0 0 2vh;
    font-weight: bold;
    transform: opacity 1s ease-in-out;
    transition: var(--themeTransition);
}

#intro>div>span {
    display: inline-block;
    height: 10vh;
    width: 100%;
}

#intro>div>p {
    font-size: 3vh;
    margin: 0;
    padding: 1vh;
    font-weight: normal;
    border-left: var(--defaultBorder);
    border-right: var(--defaultBorder);
    border-radius: var(--defaultBorderRadius);
    background: var(--currentBackgroundOverlay);
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#about>div {
    width: 40%;
    margin-bottom: 5vh;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1vh;
    background: var(--currentBackgroundOverlay);
    border-top: var(--defaultBorder);
    border-bottom: var(--defaultBorder);
    border-radius: var(--defaultBorderRadius);
    transition: var(--themeTransition);
}

#skills>div>h5 {
    font-size: 3vh;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-shadow: var(--currentFontShadow) 0 0 2vh;
    font-weight: bold;
    transition: var(--themeTransition);
}

#skills>div>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#aboutText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-wrap: wrap;
    max-height: 80%;
    overflow: scroll;
    padding: 10px;
    background: var(--currentBackgroundOverlay);
    border-left: var(--defaultBorder);
    border-right: var(--defaultBorder);
    border-radius: var(--defaultBorderRadius);
    transition: var(--themeTransition);

}

#aboutText>p {
    margin: 0;
    padding: 0;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 3vh;
    text-align: start;
    text-wrap: wrap;
    color: var(--currentSecondaryFontColor);
    transition: var(--themeTransition);
}

.skillCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vh;
    padding: 0.5vh;
    margin: 0.5vh;
    transition: var(--themeTransition);
}

.skillCard>img {
    width: 5vh;
    height: 5vh;
    transition: var(--themeTransition);
}

.skillCard>img>svg {
    color: var(--currentPrimaryFontColor);
    transition: var(--themeTransition);
}

.skillCard>p {
    font-size: 2vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    text-align: center;
    text-wrap: wrap;
    color: var(--currentSecondaryFontColor);
    transition: var(--themeTransition);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.projectName {
    font-size: 5vh;
    margin-bottom: 5vh;
    transition: var(--themeTransition);
}

.project>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    background: var(--currentBackgroundOverlay);
}

.project>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.project>div>div>div {
    position: relative;
    height: 100%;
    width: 40%;
}

.projectSlideContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    border-left: var(--defaultBorder);
    border-right: var(--defaultBorder);
    border-radius: var(--defaultBorderRadius);
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

.projectSlideContainer>* {
    flex-shrink: 0;
    scroll-snap-align: center;
}

.projectSlideContainer>img {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    height: 50vh;
    border: none;
    border-color: transparent;
    object-fit: contain;
}

.projectSlideNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.projectSlideNav>button {
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: var(--currentPrimaryFontColor);
    transition: 0.1s;
}

.projectSlideNav>button:active {
    transform: scale(0.9);
}

.projectSlideNav>button:hover {
    color: var(--currentNavHighlight);
}

.projectSlideNav>button:disabled {
    color: gray;
    cursor: not-allowed;
}

.projectSlideNav>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}


input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    margin: 5px;
    border-radius: 50%;
    max-width: 18px;
    min-width: 18px;
    max-height: 18px;
    min-height: 18px;
    background-color: var(--currentDefaultBackground);
    border: 1px var(--currentPrimaryFontColor) solid;
    cursor: pointer;
}

input[type="radio"]::before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--currentNavHighlight);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:hover {
    border-color: var(--currentNavHighlight);
}

.projectDescription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    height: 40vh;
    border-left: var(--defaultBorder);
    border-right: var(--defaultBorder);
    border-radius: var(--defaultBorderRadius);
    padding-left: 10px;
    padding-right: 10px;
}

.projectDescription>p {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color: var(--currentSecondaryFontColor);
    transition: var(--themeTransition);
}

.projectLinks {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.projectLinks>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: var(--defaultBorder);
    border-radius: var(--defaultBorderRadius);
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
    font-size: 3vh;
    text-decoration: none;
    cursor: pointer;
}

.projectLinks>a>svg {
    margin-left: 2px;
    margin-right: 5px;
}

.projectLinks>a:hover {
    text-decoration: underline;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#contact>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#contact>div>h1 {
    font-size: 7vh;
    margin: 0;
    padding: 0;
    text-shadow: var(--currentFontShadow) 0 0 2vh;
    font-weight: bold;
    transition: var(--themeTransition);
}

#contact>div>span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

#contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#contacts>a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--currentPrimaryFontColor);
    font-size: 5vh;
    font-weight: normal;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#contacts>a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    nav>div {
        font-size: 3vw;
    }

    #intro>div>h1 {
        font-size: 8vw;
    }

    #intro>div>p {
        font-size: 3vw;
    }

    #about>div>h1 {
        font-size: 6vw;
    }

    #skills>div>h5 {
        font-size: 4vw;
    }

    .skillCard {
        width: 10vw;
    }

    .skillCard>img {
        width: 5vw;
        height: 5vw;
    }

    .skillCard>svg {
        width: 5vw;
        height: 5vw;
    }

    .skillCard>p {
        font-size: 2.5vw;
    }

    #aboutText>p {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        font-size: 3vw;
    }

    .project>div {
        height: 90vh;
    }

    .project>div>div {
        height: 100%;
        flex-direction: column;
        overflow: scroll;
    }

    .project>div>div>div {
        width: 100%;
        height: 45%;
    }

    .projectName {
        font-size: 6vw;
        margin: 1vh;
    }

    .projectImage {
        max-width: 96%;
        border-left: none;
        border-right: none;
        border-top: var(--defaultBorder);
        border-bottom: var(--defaultBorder);
    }

    .projectImage>img {
        height: 100%;
    }

    .projectDescription {
        height: 80%;
        border-top: var(--defaultBorder);
        border-bottom: var(--defaultBorder);
        border-left: 0;
        border-right: 0;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .projectDescription>p {
        font-size: 3vw;
    }

    .projectLinks>a {
        font-size: 3vw;
    }

    #contact>div>h1 {
        font-size: 8vw;
    }

    #contacts>a {
        font-size: 8vw;
    }
}