:root {
    --lightPrimaryFontColor: black;
    --lightSecondaryFontColor: rgb(36, 36, 36);
    --lightFontShadow: rgba(255, 255, 255, 1);
    --lightBorderColor: rgb(58, 58, 58);
    --lightNavBackground: rgb(200, 200, 200);
    --lightNavHighlight: royalblue;
    --lightBackgroundOverlay: rgba(255, 255, 255, 0.5);

    --darkPrimaryFontColor: white;
    --darkSecondaryFontColor: whitesmoke;
    --darkFontShadow: rgba(0, 0, 0, 1);
    --darkBorderColor: silver;
    --darkNavBackground: rgb(55, 55, 55);
    --darkNavHighlight: dodgerblue;
    --darkBackgroundOverlay: rgba(0, 0, 0, 0.8);

    --currentPrimaryFontColor: var(--lightPrimaryFontColor);
    --currentSecondaryFontColor: var(--lightSecondaryFontColor);
    --currentFontShadow: var(--lightFontShadow);
    --currentBorderColor: var(--lightBorderColor);
    --currentNavBackground: var(--lightNavBackground);
    --currentNavHighlight: var(--lightNavHighlight);
    --currentBackgroundOverlay: var(--lightBackgroundOverlay);

    font-family: monospace;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: var(--currentPrimaryFontColor);
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
    transition: all 0.5s ease-in-out;
}
#app>div {
    position: relative;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background: var(--currentBackgroundOverlay);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

nav>div {
    font-size: 3vh;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

nav>div:hover {
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}


#intro {
    text-align: center;
}
#intro>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5vh;
}

#intro>div>h1 {
    font-size: 7vh;
    margin: 0;
    padding: 0;
    text-shadow: var(--currentFontShadow) 0 0 2vh;
    font-weight: bold;
}

#intro>div>span {
    display: inline-block;
    height: 10vh;
    width: 100%;
}

#intro>div>p {
    font-size: 3vh;
    margin: 0;
    padding: 1vh;
    font-weight: normal;
    text-shadow: var(--currentFontShadow) 0 0 2px;
    background: var(--currentBackgroundOverlay);
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
#about>div {
    width: 30%;
    margin-bottom: 5vh;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:1vh;
    background: var(--currentBackgroundOverlay);
    border-top: 1px solid var(--currentBorderColor);
    border-bottom: 1px solid var(--currentBorderColor);
    border-radius: 5px;
}
#skills>div>h5{
    font-size: 3vh;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-shadow: var(--currentFontShadow) 0 0 2vh;
    font-weight: bold;
}
#skills>div>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    padding:10px;
    background: var(--currentBackgroundOverlay);
    border-left: 1px solid var(--currentBorderColor);
    border-right: 1px solid var(--currentBorderColor);
    
}

#aboutText>p {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    text-align: start;
    text-wrap: wrap;
    color: var(--currentSecondaryFontColor);
}

.skillCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vh;
    padding: 0.5vh;
    margin: 0.5vh;
    border-radius: 5px;
    cursor: pointer;
}

.skillCard>img {
    width: 5vh;
    height: 5vh;
}
.skillCard>img>svg {
    color: var(--currentPrimaryFontColor);
}

.skillCard>p {
    font-size: 2vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    text-align: center;
    text-wrap: wrap;
    color: var(--currentSecondaryFontColor);
}

.skillCard:hover>p {
    text-decoration: underline;
}


.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.projectName {
    font-size: 5vh;
    margin-bottom: 5vh;
}

.project>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top:10vh;
    margin-bottom: 5vh;
    background: var(--currentBackgroundOverlay);
}

.project>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.project>div>div>div {
    position: relative;
    height: 100%;
    width: 40%;
}

.projectImage>img {
    width: 100%;
    height: 50vh;
    border: none;
    border-color: transparent;
    object-fit: contain;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    height: 40vh;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
}

.projectDescription>p {
    margin: 0;
    padding: 0;
    width:100%;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color: var(--currentSecondaryFontColor);
    transition: all 0.2s ease-in-out;
}

.projectLinks {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.projectLinks>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px outset silver;
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
    font-size: 3vh;
    text-decoration: none;
    cursor: pointer;
}

.projectLinks>a>svg {
    margin-left: 2px;
    margin-right: 5px;
}

.projectLinks>a:hover {
    text-decoration: underline;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#contact>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
#contact>div>h1{
    font-size: 7vh;
    margin: 0;
    padding: 0;
    text-shadow: var(--currentFontShadow) 0 0 2vh;
    font-weight: bold;
}
#contact>div>span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}
#contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#contacts>a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--currentPrimaryFontColor);
    font-size: 5vh;
    font-weight: normal;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
#contacts>a:hover{
    text-decoration: underline;
}